{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- 用户信息 -->
        <div class="col-md-8">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- 展示用户信息 -->
                        <div class="row">
                            <!-- 用户头像 -->
                            <div class="col-md-3">
                                <img src="{{ image_file }}" alt="用户头像" class="img-responsive img-circle">
                            </div>
                            <!-- 用户名和email -->
                            <div class="col-md-9">
                                <div class="h2">{{ current_user.username }}</div>
                                <div class="lead">{{ current_user.email }}</div>
                            </div>
                        </div>
                        <!-- 修改用户信息 -->
                        <div class="page-header">
                            <div class="h2">修改用户信息</div>
                        </div>
                        <!-- 用户信息修改表单 -->
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <!-- 用户名 -->
                            <div class="form-group">
                                {{ form.username.label }}

                                {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid", placeholder="请输入用户名") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="form-control", placeholder="请输入用户名") }}
                                {% endif %}

                            </div>
                            <!-- 邮箱 -->
                            <div class="form-group">
                                {{ form.email.label }}

                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid", placeholder="请输入用户名") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control", placeholder="请输入用户名") }}
                                {% endif %}
                            </div>
                            <!-- 用户照片 -->
                            <div class="form-group">
                                {{ form.picture.label }}
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!-- 提交 -->
                            <div class="form-group">
                                {{ form.submit(class="btn btn-default") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 边栏 -->
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        sidebar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}