{% extends 'base.html' %}

{% block content %}
<!-- 主体部分 -->
<div class="container">
    <div class="row">
        <!-- post -->
        <div class="col-md-8">
            <!-- blog-post主体 -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>高明</span>
                            <span>2021-07-21</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="lead">非要航他，系为降第。</div>
                        <div>
                            然之见揽饮有融密少况失个畴资县与，意说锐高中天劝动，劫皇终拆后，己药他由文办思王，胜上小你韩位揽憾里，感事德竟人仄能为但文命，五人穿投可而则游和可，非办兴哥，大所否德是备互人，韦自之仆使无罪创朗他就。
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>高明</span>
                            <span>2021-07-21</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="lead">非要航他，系为降第。</div>
                        <div>
                            然之见揽饮有融密少况失个畴资县与，意说锐高中天劝动，劫皇终拆后，己药他由文办思王，胜上小你韩位揽憾里，感事德竟人仄能为但文命，五人穿投可而则游和可，非办兴哥，大所否德是备互人，韦自之仆使无罪创朗他就。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 边栏 -->
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        sidebar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}