{% extends 'base.html' %}

{% block content %}
<!-- 主体部分 -->
<div class="container">
    <div class="row">
        <!-- post -->
        <div class="col-md-8">
            <!-- blog-post主体 -->
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                                alt="用户头像" class="img-circle" style="height: 20px;">
                            <span>
                                <a href="{{ url_for('user_post', username=post.author.username) }}">
                                    {{ post.author.username }}
                                </a>
                            </span>
                            <span>{{ post.date_posted.strftime("%Y-%m-%d, %H:%M:%S") }}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="lead">{{ post.title }}</div>
                        <div>
                            {{ post.content }}
                        </div>
                    </div>
                    {% if post.author == current_user %}
                    <div class="panel-footer">
                        <a href="{{ url_for('update_post', post_id=post.id) }}">修改</a>
                        <a href="{{ url_for('delete_post', post_id=post.id) }}"
                            onclick="return confirm('确定要删除吗？');">删除</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- 边栏 -->
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        sidebar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}